
body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADERS */

.main-header {
    font-size: 50px;
    font-weight: normal;
    color: #fff;
}

